﻿@{
    ViewBag.Title = "O aplikacji";
	ViewBag.Message="Dowiedz się więcej";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Pasażer to aplikacja mająca na celu zbliżyć potencjalnego pasażera do wyboru i pozostania z komunikacją miejską.
    Ma on także sprawić że stali pasażerowi pojazdów transportu miejskiego poczują się wyróżnieni, a ich wybór zostanie doceniony.</p>
<p>Aplikacja nalicza punkty za przejazdy pasażerom komunikacji miejskiej na podstawie ich danych lokalizacyjnych.
    Pasażer może zbierać punkty również na podstawie rozwiązanych quizów na tematy związane z miastem i transportem miejskim.
    Zebrane punkt już wkrótce pasażer będzie mógł wymienić na darmowe bilety na przejazd komunikacją miejską.</p>
<p>Pasażer jest niezwykle prostą aplikacją. Wystarczy zarejestrować się za pomocą adresu e-mail, a następnie przy każdym odzwiedzeniu tylko zalogować. Do naliczania
    punktów wystarczy włączona lokalizacja. </p>
<p>Aplikacja ciągle się rozwija. Zapraszamy do obserwowania aktualności.</p>