﻿@{
    ViewBag.Title = "Kontakt";
	ViewBag.Message= "Napisz do nas";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    PASAŻER<br />
    Żołnierska 49<br />
    71-210 Szczecin
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
