﻿@{
    ViewBag.Title = "Nagrody";
	ViewBag.Message="Na co wymienisz punkty?";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Zebrane punkty wymieniane są na nagrody zgodnie z ilością przedstawioną w poniższej tabeli.</p><br />
<table class="table table-inverse">
    <tr>
        <td>Ilość punktów</td>
        <td>Nagroda</td>
    </tr>
    <tr><td>50 punktów</td><td>bilet zwykły 15-minutowy</td></tr>
    <tr><td>100 punktów</td><td>bilet zwykły 30-minutowy</td></tr>
    <tr><td>200 punktów</td><td>bilet zwykły 60-minutowy</td></tr>
    <tr><td>300 punktów</td><td>bilet zwykły 120-minutowy</td></tr>
    <tr><td>500 punktów</td><td>bilet dobowy</td></tr>
    <tr><td>10 000 punktów</td><td>bilet miesięczny</td></tr>
    <tr><td></td><td></td></tr>
</table>

<p>Życzymy powodzenia!</p>