﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="../../Content/images/logo.png" width="90%" height="90%">
    <p class="lead">Pasażer to Twoja przyjaźń z komunikacją miejską. <br/>Zbieraj punkty, rozwiązuj quizy, wygrywaj. <br/> Dołącz już dziś!</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Na dobry początek</h2>
        <p>
            Każdy użytkownik po zarejstrowaniu otrzyma na początek darmowe 50 punktów. Zobacz jak szybko możesz zbierać punkty i wygrywać darmowe bilety. Jeździj komunikacją miejską. Warto!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Co dalej?</h2>
        <p>Chcecie pomóc w rozwijaniu aplikacji? Macie ciekawe pomysły co mogłoby się tu znaleźć? Napisz do nas. Dane w zakładce kontakt.</p>
    </div>
    <div class="col-md-4">
        <h2>Powierzchnia reklamowa</h2>
        <p>Tu może znaleźć się Twoja reklama. Wszelkie szczegóły uzgodnimy z zainteresowanymi. Dane kontaktowe z zakładce.</p>
    </div>
</div>