﻿@{
    ViewBag.Title = "Menu";
	
}
<h2>@ViewBag.Title.</h2>

<div class="jumbotron">
    <img src="../../Content/images/logo.png" width="40%" height="40%">
</div>
<div class="row">
    <div class="col-md-4">
        <h2 align="center"><button>@Html.ActionLink("Quiz", "TakeQuiz", "Home")</button></h2>
    </div>
    <div class="col-md-4">
        <h2 align="center"><button>@Html.ActionLink("O nagrodach", "Gifts", "Home")</button></h2>
    </div>
    <div class="col-md-4">
        <h2 align="center"><button>@Html.ActionLink("Ranking", "Ranking", "Home")</button></h2>
    </div>
    <div class="col-md-4">
        <h2 align="center"><button>@Html.ActionLink("O aplikacji", "About", "Home")</button></h2>
    </div>
    <div class="col-md-4">
        <h2 align="center"><button>@Html.ActionLink("Kontakt", "Contact", "Home")</button></h2>
    </div>
</div>
