﻿
@{
    ViewBag.Title = "Ranking";
}

<h2>@ViewBag.Title.</h2>
@{int i = 1;}
<table>
    <thead>
        <tr>
            <td>Pozycja</td>
            <td>Uzytkownik</td>
            <td>Punkty</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in (List<ZditmApp.Models.AppUser>)ViewBag.Users)
        {
            <tr>
                <td>@i</td>
                <td>@user.Email</td>
                @{ int? points = user.PointsTotal == null ? 0 : user.PointsTotal;}
                <td>@points</td>
            </tr>
            i++;
        }
    </tbody>
</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}