﻿@model ZditmApp.Models.Quiz
@{
    ViewBag.Title = "Quiz";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("TakeQuiz", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Formularz zmiany hasła</h4>
    <hr />
    foreach (var question in Model.Questions)
    {

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label(question.Content, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBox("answers")
        </div>
    </div>
    }
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Wyślij odpowiedzi" class="btn btn-default" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}