﻿@model ZditmApp.Models.ApplicationUser
@{
    ViewBag.Title = "Zmiana ról użytkownika";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
   @using (Html.BeginForm("EditUserRoles", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
   {
    @Html.AntiForgeryToken()
    <h4>Edytuj role użytkownika @Model.Email</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Roles, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("role", (List<SelectListItem>)ViewBag.Roles, "Wybierz rolę")
        </div>
    </div>
    @Html.Hidden("userId", Model.Id)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Zapisz" />
        </div>
    </div>
   }
</div>
