﻿@model ZditmApp.Models.IndexViewModel
@{
    ViewBag.Title = "Zarządzaj";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Mój profil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Hasło:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Zmień hasło", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Utwórz", "SetPassword")
            }
            ]
        </dd>
        <dt>Punkty z bieżącego miesiąca:</dt>
        <dd>@Model.PointsMonth</dd>
        <dt>Punkty ogółem:</dt>
        <dd>@Model.PointsTotal</dd>
    </dl>
    @if (this.User.IsInRole("Administrator"))
    {
        <h3>Zarządzanie użytkownikami</h3>
    <table>
        <thead>
            <tr>
                <td>Użytkownik</td>
                <td>Akcja</td>
            </tr>
        </thead>
        <tbody>
        @foreach (var user in (List<ZditmApp.Models.ApplicationUser>)ViewBag.Users)
        {
        <tr>
            <td>@user.Email</td>
            <td>@Html.ActionLink("Edytuj role", "EditUserRoles", "Manage", new { userId = user.Id }, null)</td>
            <td>@Html.ActionLink("Usuń", "RemoveUser", "Manage", new { userId = user.Id }, null)</td>
        </tr>
        }
        </tbody>
    </table>
    <h3>Zarządzanie pytaniami</h3>
    <table>
        <thead>
            <tr>
                <td>Pytanie</td>
                <td>Ostatnie użycie</td>
                <td>Akcja</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var question in (List<ZditmApp.Models.QuizQuestion>)ViewBag.Questions)
            {
                <tr>
                    <td>@question.Content</td>
                    <td>@question.LastUsed</td>
                    <td>@Html.ActionLink("Usuń", "RemoveQuestion", "Manage", new { questionId = question.Id }, null)</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.ActionLink("Dodaj pytanie", "AddQuestion", "Manage")
        <br/>
        <br/>
        if (AppData.CURRENT_QUIZ == null)
        {
    @Html.ActionLink("Utwórz quiz", "StartQuiz", "Manage")
        }
        else
        {
            <b>Aktualnie trwa quiz</b>
    @Html.ActionLink("Zakończ quiz", "EndQuiz", "Manage")
        }
    }
</div>
